/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.myblue{
    color: rgb(15, 223, 223);
}

.msg-error{
    background-color: rgba(133, 16, 16, 0.904);
    color: #fff;
}


